/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%;
    background-color: #f8f9fa!important;
 }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.qr {
    height: 100%;
    width: 100%;
  }

  img, svg {
    height: 100% !important;
    width: 100% !important;
}

